<div class="container">
    <p class="info">
        <strong>CAMPOS SELECCIONADOS</strong><br>
        Aumenta o disminuye la altura de los campos de formulario para que coincidan con la altura de los botones.<br>
        Modifica la altura por defecto de los campos con la clase '.input-lg' y modifica sus anchuras con las habituales clases '.col-lg-*' utilizadas para las rejillas de los layouts.
    </p>
    <input class="form-control input-lg" type="text" placeholder=".input-lg">
    <input class="form-control" type="text" placeholder="Campo de texto">
    <input class="form-control input-sm" type="text" placeholder=".input-sm">

    <select class="form-control input-lg">...</select>
    <select class="form-control">...</select>
    <select class="form-control input-sm">...</select>

    <hr class="separator">

    <p class="info">
        <strong>CAMBIANDO LA ANCHURA</strong><br>
        La forma más sencilla de controlar la anchura de los campos de formulario consiste en encerrarlos en otros elementos y aplicar las clases utilizadas para definir las rejillas de los layouts.
    </p>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" class="form-control" placeholder=".col-xs-3">
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder=".col-xs-4">
        </div>
        <div class="col-xs-5">
            <input type="text" class="form-control" placeholder=".col-xs-5">
        </div>
    </div>
</div>
