/* app scss stylesheet */
/* line 3, ../scss/app.scss */
.menu {
  list-style: none;
  border-bottom: 0.1em solid green;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
/* line 9, ../scss/app.scss */
.menu:before {
  content: "[";
}
/* line 13, ../scss/app.scss */
.menu:after {
  content: "]";
}
/* line 17, ../scss/app.scss */
.menu > li {
  display: inline;
}
/* line 19, ../scss/app.scss */
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
/* line 24, ../scss/app.scss */
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* line 31, ../scss/app.scss */
.container {
  position: relative;
  padding: 10% 15%;
  border-style: solid;
}
@media (min-width: 768px) {
  /* line 31, ../scss/app.scss */
  .container {
    margin: 0 auto;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 0;
  }
}
/* line 41, ../scss/app.scss */
.container .info {
  background-color: #F5E9AB;
  padding: 3px 5px;
  border-style: solid;
  border-color: #A1A1A1;
  border-width: 1px;
}
